{% load static %}
<header>
        <div id="header-layout1" class="header-style1">
            <div class="main-menu-area bg-primarytextcolor header-menu-fixed" id="sticker">
                <div class="container">
                    <div class="row no-gutters d-flex align-items-center">
                        <div class="col-lg-2 d-none d-lg-block">
                            <div class="logo-area">
                                <a href="{% static 'index-2.html' %}">
                                    <img src="{{ mymodel.logo }}" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 position-static min-height-none">
                            <div class="ne-main-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li class="active">
                                            <a href="#">Home</a>
                                            <ul class="ne-dropdown-menu">
                                                <li class="active">
                                                    <a href="{% static 'index-2.html' %}">Home 1</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'index2.html' %}">Home 2</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'index3.html' %}">Home 3</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'index4.html' %}">Home 4</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'index5.html' %}">Home 5</a>
                                                </li>
                                                <li>
                                                    <a href="index6.html">Home 6</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'index7.html' %}">Home 7</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Post</a>
                                            <ul class="ne-dropdown-menu">
                                                <li>
                                                    <a href="{% static 'post-style-1.html' %}">Post Style 1</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'post-style-2.html' %}">Post Style 2</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'post-style-3.html' %}">Post Style 3</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'post-style-4.html' %}">Post Style 4</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'single-news-1.html' %}">News Details 1</a>
                                                </li>
                                                <li>
                                                    <a href="single-news-2.html">News Details 2</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'single-news-3.html' %}">News Details 3</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="ne-dropdown-menu">
                                                <li>
                                                    <a href="{% static 'author-post.html' %}">Author Post Page</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'archive.html' %}">Archive Page</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'gallery-style-1.html' %}">Gallery Style 1</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'gallery-style-2.html' %}">Gallery Style 2</a>
                                                </li>
                                                <li>
                                                    <a href="{% static '404.html' %}">404 Error Page</a>
                                                </li>
                                                <li>
                                                    <a href="{% static 'contact.html' %}">Contact Page</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{% static 'post-style-1.html' %}">Politics</a>
                                        </li>
                                        <li>
                                            <a href="{% static 'post-style-2.html' %}">Business</a>
                                        </li>
                                        <li>
                                            <a href="{% static 'post-style-3.html' %}">Sports</a>
                                        </li>
                                        <li>
                                            <a href="{% static 'post-style-4.html' %}">Fashion</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-12 text-right position-static">
                            <div class="header-action-item">
                                <ul>
                                    <li>
                                        <form id="top-search-form" class="header-search-light">
                                            <input type="text" class="search-input" placeholder="Search...." required=""
                                                   style="display: none;">
                                            <button class="search-button">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </li>
                                    <li>
                                        <button type="button" class="login-btn" data-toggle="modal"
                                                data-target="#myModal">
                                            <i class="fa fa-user" aria-hidden="true"></i>Sign in
                                        </button>
                                    </li>
                                    <li>
                                        <div id="side-menu-trigger" class="offcanvas-menu-btn">
                                            <a href="#" class="menu-bar">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                            <a href="#" class="menu-times close">
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End Here -->
    <!-- News Feed Area Start Here -->