asgiref==3.11.1
black==26.5.1
click==8.4.1
colorama==0.4.6
Django==6.0.6
django-jazzmin==3.0.4
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.10.0
pytokens==0.4.1
sqlparse==0.5.5
tzdata==2026.2
