{% extends "master.html" %}
{% load static %}
{% block content %}

            <section class="breadcrumbs-area2">
                <div class="container">
                    <div class="breadcrumbs-content">
                        <h1>{{ post.category.title }}</h1>
                        <ul>
                            <li>
                                <a href="index-2.html">Home</a> -</li>
                            <li>
                                <a href="#">Business</a> -</li>
                            <li>Single post style_03</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="bg-body section-space-less30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="news-details-layout3 mb-30">
                                <p>Nmply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    andard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                    andser crambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining.</p>
                                <p>It is a long established fact that a reader will be distracted by the readable content of
                                    a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                    normal distrib ution of letters, as opposed to using 'Content here, content here', making
                                    it look like readabl aree English. Many desktop publishing packages and web page editors
                                    now use Lorem Ipsum s their default model text, and a search.</p>
                                <img src="img/news/news178.jpg" alt="news-details" class="img-fluid pull-left mr-40 mb-15">
                                <h2 class="title-medium-dark size-xl">Some people dream of success while others wake.</h2>
                                <p>Nmply dummy text of the printing and typesetting ustry. Lorem Ipsum has been the industry's
                                    stydedy andard dummy text ever since the, when new wwan printer took a galley of type
                                    andsercrambled it toit make a type specimen book. It has survived anneyt only five centuries,
                                    but also theleap into electro nic typesetting, remaining.</p>
                                <blockquote cite="#" class="bg-accent mt-50 mb-50">
                                    Srem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s. Lorem Ipsum is simply .
                                </blockquote>
                                <p>Nmply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    st andard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                    andse aerr crambled it to make a type specimen book. It has survived not only five centuries,
                                    but also they area leap into electronic typesetting, remaining.</p>
                                <ul class="blog-tags item-inline">
                                    <li>Tags</li>
                                    <li>
                                        <a href="#">#Business</a>
                                    </li>
                                    <li>
                                        <a href="#">#Magazine</a>
                                    </li>
                                    <li>
                                        <a href="#">#Lifestyle</a>
                                    </li>
                                </ul>
                                <div class="post-share-area mb-40 item-shadow-1">
                                    <p>You can share this post!</p>
                                    <ul class="social-default item-inline">
                                        <li>
                                            <a href="#" class="facebook">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="twitter">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="google">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="pinterest">
                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="rss">
                                                <i class="fa fa-rss" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="linkedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row no-gutters divider blog-post-slider">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <a href="#" class="prev-article">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>Previous article</a>
                                        <h3 class="title-medium-dark pr-50">Wonderful Outdoors Experience: Eagle Spotting in Alaska</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                                        <a href="#" class="next-article">Next article
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="title-medium-dark pl-50">The only thing that overcomes hard luck is hard work</h3>
                                    </div>
                                </div>
                                <div class="author-info bg-accent item-shadow-1 p-35-r mb-50">
                                    <div class="media media-none-xs">
                                        <img src="img/author.jpg" alt="author" class="img-fluid rounded-circle">
                                        <div class="media-body pt-10 media-margin30">
                                            <h3 class="size-lg mb-5">Mark Willy</h3>
                                            <div class="post-by mb-5">By Admin</div>
                                            <p class="mb-15">Dorem Ipsum is simply dummy text of the printing and typesetting industr been
                                                the industry's standard dummy text ever since.</p>
                                            <ul class="author-social-style1 item-inline">
                                                <li>
                                                    <a href="#" title="facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="twitter">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="google-plus">
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="linkedin">
                                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="pinterest">
                                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="comments-area">
                                    <h2 class="title-semibold-dark size-xl border-bottom mb-40 pb-20">03 Comments</h2>
                                    <ul>
                                        <li>
                                            <div class="media media-none-xs">
                                                <img src="img/blog1.jpg" class="img-fluid rounded-circle" alt="comments">
                                                <div class="media-body comments-content media-margin30">
                                                    <h3 class="title-semibold-dark">
                                                        <a href="#">Nitiya ,
                                                            <span> August 29, 2017</span>
                                                        </a>
                                                    </h3>
                                                    <p>Borem Ipsum is simply dummy text of the printing and typesetting industry
                                                        Lorem Ipsum has been the industry's standard dummy text.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media media-none-xs">
                                                <img src="img/blog2.jpg" class="img-fluid rounded-circle" alt="comments">
                                                <div class="media-body comments-content media-margin30">
                                                    <h3 class="title-semibold-dark">
                                                        <a href="#">Fahim ,
                                                            <span> August 29, 2017</span>
                                                        </a>
                                                    </h3>
                                                    <p>Borem Ipsum is simply dummy text of the printing and typesetting industry
                                                        Lorem Ipsum has been the industry's standard dummy text.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="leave-comments">
                                    <h2 class="title-semibold-dark size-xl mb-40">Leave Comments</h2>
                                    <form id="leave-comments">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <input placeholder="Name*" class="form-control" type="text">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <input placeholder="Email*" class="form-control" type="email">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <input placeholder="Web Address" class="form-control" type="text">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea placeholder="Message*" class="textarea form-control" id="form-message" rows="8" cols="20"></textarea>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group mb-none">
                                                    <button type="submit" class="btn-ftg-ptp-56">Post Comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="ne-sidebar sidebar-break-md col-lg-4 col-md-12">
                            <div class="sidebar-box">
                                <div class="topic-border color-cod-gray mb-30">
                                    <div class="topic-box-lg color-cod-gray">Stay Connected</div>
                                </div>
                                <ul class="stay-connected overflow-hidden">
                                    <li class="facebook">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                            <div class="connection-quantity">50.2 k</div>
                                            <p>Fans</p>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            <div class="connection-quantity">10.3 k</div>
                                            <p>Followers</p>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="#">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            <div class="connection-quantity">25.4 k</div>
                                            <p>Fans</p>
                                        </a>
                                    </li>
                                    <li class="rss">
                                        <a href="#">
                                            <i class="fa fa-rss" aria-hidden="true"></i>
                                            <div class="connection-quantity">20.8 k</div>
                                            <p>Subscriber</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-box">
                                <div class="ne-banner-layout1 text-center">
                                    <a href="#">
                                        <img src="img/banner/banner3.jpg" alt="ad" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="sidebar-box">
                                <div class="topic-border color-cod-gray mb-5">
                                    <div class="topic-box-lg color-cod-gray">Recent News</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-4 col-sm-6 col-6">
                                        <div class="mt-25 position-relative">
                                            <div class="topic-box-top-xs">
                                                <div class="topic-box-sm color-cod-gray mb-20">Nature</div>
                                            </div>
                                            <a href="single-news-1.html" class="img-opacity-hover mb-10 display-block">
                                                <img src="img/news/news171.jpg" alt="news" class="img-fluid m-auto width-100">
                                            </a>
                                            <h3 class="title-medium-dark size-md mb-none">
                                                <a href="single-news-1.html">Rosie Huntington Whitl Habits Career Art.Rosie TBeauty Habits.</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-6 col-6">
                                        <div class="mt-25 position-relative">
                                            <div class="topic-box-top-xs">
                                                <div class="topic-box-sm color-cod-gray mb-20">Application</div>
                                            </div>
                                            <a href="single-news-1.html" class="img-opacity-hover mb-10 display-block">
                                                <img src="img/news/news172.jpg" alt="news" class="img-fluid m-auto width-100">
                                            </a>
                                            <h3 class="title-medium-dark size-md mb-none">
                                                <a href="single-news-1.html">Rosie Huntington Whitl Habits Career Art.Rosie TBeauty Habits.</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-6 col-6">
                                        <div class="mt-25 position-relative">
                                            <div class="topic-box-top-xs">
                                                <div class="topic-box-sm color-cod-gray mb-20">Life Style</div>
                                            </div>
                                            <a href="single-news-1.html" class="img-opacity-hover mb-10 display-block">
                                                <img src="img/news/news173.jpg" alt="news" class="img-fluid m-auto width-100">
                                            </a>
                                            <h3 class="title-medium-dark size-md mb-none">
                                                <a href="single-news-1.html">Rosie Huntington Whitl Habits Career Art.Rosie TBeauty Habits.</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-6 col-6">
                                        <div class="mt-25 position-relative">
                                            <div class="topic-box-top-xs">
                                                <div class="topic-box-sm color-cod-gray mb-20">Technology</div>
                                            </div>
                                            <a href="single-news-1.html" class="img-opacity-hover mb-10 display-block">
                                                <img src="img/news/news174.jpg" alt="news" class="img-fluid m-auto width-100">
                                            </a>
                                            <h3 class="title-medium-dark size-md mb-none">
                                                <a href="single-news-1.html">Rosie Huntington Whitl Habits Career Art.Rosie TBeauty Habits.</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-6 col-6">
                                        <div class="mt-25 position-relative">
                                            <div class="topic-box-top-xs">
                                                <div class="topic-box-sm color-cod-gray mb-20">Accessories</div>
                                            </div>
                                            <a href="single-news-1.html" class="img-opacity-hover mb-10 display-block">
                                                <img src="img/news/news175.jpg" alt="news" class="img-fluid m-auto width-100">
                                            </a>
                                            <h3 class="title-medium-dark size-md mb-none">
                                                <a href="single-news-1.html">Rosie Huntington Whitl Habits Career Art.Rosie TBeauty Habits.</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-6 col-6">
                                        <div class="mt-25 position-relative">
                                            <div class="topic-box-top-xs">
                                                <div class="topic-box-sm color-cod-gray mb-20">Model</div>
                                            </div>
                                            <a href="single-news-1.html" class="img-opacity-hover mb-10 display-block">
                                                <img src="img/news/news176.jpg" alt="news" class="img-fluid m-auto width-100">
                                            </a>
                                            <h3 class="title-medium-dark size-md mb-none">
                                                <a href="single-news-1.html">Rosie Huntington Whitl Habits Career Art.Rosie TBeauty Habits.</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-box">
                                <div class="topic-border color-cod-gray mb-30">
                                    <div class="topic-box-lg color-cod-gray">Newsletter</div>
                                </div>
                                <div class="newsletter-area bg-primary">
                                    <h2 class="title-medium-light size-xl pl-30 pr-30">Subscribe to our mailing list to get the new updates!</h2>
                                    <img src="img/banner/newsletter.png" alt="newsletter" class="img-fluid m-auto mb-15">
                                    <p>Subscribe our newsletter to stay updated</p>
                                    <div class="input-group stylish-input-group">
                                        <input type="text" placeholder="Enter your mail" class="form-control">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-box">
                                <div class="topic-border color-cod-gray mb-25">
                                    <div class="topic-box-lg color-cod-gray">Tags</div>
                                </div>
                                <ul class="sidebar-tags">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Business</a>
                                    </li>
                                    <li>
                                        <a href="#">Architecture</a>
                                    </li>
                                    <li>
                                        <a href="#">Gadgets</a>
                                    </li>
                                    <li>
                                        <a href="#">Software</a>
                                    </li>
                                    <li>
                                        <a href="#">Microsoft</a>
                                    </li>
                                    <li>
                                        <a href="#">Robotic</a>
                                    </li>
                                    <li>
                                        <a href="#">Technology</a>
                                    </li>
                                    <li>
                                        <a href="#">Others</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock content %}