<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
This is sample post Template
<p>title:{{ post.title }}</p>
<p>category{{ post.category }}</p>
<p>author{{ post.author }}</p>
<p>slug{{ post.slug }}</p>
<p>image{{ post.image }}</p>
<p>send_date{{ post.send_date }}</p>
<p>views{{ post.views }}</p>
<p>comments{{ post.comments }}</p>
<p>full_text{{ post.full_text }}</p>
<p>abstract{{ post.abstract }}</p>
<p>tags{{ post.tags }}</p>
<p>is_published{{ post.is_published }}</p>
<p>published_date{{ post.published_date }}</p>
</body>
</html>