{% load static %}
<!doctype html>
<html class="no-js" lang="">

{% include '_partials/_head.html' %}
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an
    <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->
<!-- Add your site or application content here -->
<!-- Preloader Start Here -->
{#<div id="preloader"></div>#}
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Header Area Start Here -->
{% include '_partials/_header.html' %}

    {% block content %}


    {% endblock content %}
    <!-- Footer Area Start Here -->
   {% include '_partials/_footer.html' %}
    <!-- Footer Area End Here -->
    {% include '_partials/_modal.html' %}
   {% include '_partials/_sidebar.html' %}
</div>
<!-- Wrapper End -->
<!-- jquery-->
{% include '_partials/_scripts.html' %}
</body>

</html>