{% load static %}
<!doctype html>
<html class="no-js" lang="">

{% include '_partials/_head.html' %}
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an
    <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->
<div id="wrapper" class="wrapper"></div>
{% include '_partials/_header.html' %}

    {% block content %}
    {% endblock content %}
   {% include '_partials/_footer.html' %}
    {% include '_partials/_login-modal.html' %}
   {% include '_partials/_sidebar.html' %}

<!-- Wrapper End -->
<!-- jquery-->
{% include '_partials/_scripts.html' %}
</body>

</html>