{% load static %}
<!doctype html>
<html class="no-js" lang="">

{% include '_partials/_head.html' %}
<body>
{% include '_partials/_browser.check.html' %}
<div id="wrapper" class="wrapper"></div>
{% include '_partials/_header.html' %}

    {% block content %}
    {% endblock content %}
   {% include '_partials/_footer.html' %}
    {% include '_partials/_login-modal.html' %}
   {% include '_partials/_sidebar.html' %}

<!-- Wrapper End -->
<!-- jquery-->
{% include '_partials/_scripts.html' %}
</body>

</html>